

button {
  border: none;
  background: #11799b;
  color: #fff;
  font-family: "Open Sans";
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  height: 32px;
  cursor: pointer;
  &.icon-only{
    padding: 5px;
  }
  &.w-100{
    width: 100%;
  }
  &:not(:disabled):active{
    opacity: .9;
  }
  &:disabled{
    background: #DCDCDC;
    cursor: none;
    svg{
      color: #9A9A9A;
      ;
    }
  }
  ::ng-deep svg {
    width: 22px;
    height: 22px;
    path{
      fill: #fff;
    }
  }
}

